.row-fluid
  .span1
  .span10
    %img.center{ src: 'img/dousoukai.png' }
    %h1
      アウトドアサークル同窓会メーリングリスト
  .span1

%h2
  メールを受け取れるようにする

  %form{ method: 'post', action: '/subscribe' }
    %p
      メールアドレス
      %input{ type: 'text', name: 'email' }
    %p
      %input{ type: 'submit', value: '送信する' }

%h2
  メールを受け取らないようにする

  %form{ method: 'post', action: '/unsubscribe' }
    %p
      メールアドレス
      %input{ type: 'text', name: 'email' }
    %p
      %input{ type: 'submit', value: '送信する' }

= haml :"shared/hoge"
