%h1
  アウトドアサークル同窓会メーリングリスト
  %img{ src: 'img/dousoukai.png' }

%h2
  メールを受け取れるようにする

  %form{ method: 'post', action: '/subscribe' }
    %p
      メールアドレス
      %input{ type: 'text', name: 'email' }
    %p
      %input{ type: 'submit', value: '送信する' }

%h2
  メールを受け取らないようにする

  %form{ method: 'post', action: '/unsubscribe' }
    %p
      メールアドレス
      %input{ type: 'text', name: 'email' }
    %p
      %input{ type: 'submit', value: '送信する' }

= haml :"shared/hoge"
