.row-fluid
  %h1.page_title.error
    %img{ src: 'images/kaisya_samui_woman.png' }
    %br
    入力したアドレスは間違っているか、つかえないようです。

.row-fluid.go_back
  %a{ href: '/' }
    %span.glyphicon.glyphicon-menu-left
    もう一度ためしてみる
