.row-fluid
  %h1.page_title.error
    %img{ src: 'images/pose_mokugeki.png' }
    %br
    メーリングリストのメンバーではないようです

.row-fluid.go_back
  %a{ href: '/' }
    %span.glyphicon.glyphicon-menu-left
    元のページへ戻る
