.row-fluid
  %h1.page_title.error
    %img{ src: 'images/hikkoshi_goaisatsu.png' }
    %br
    メーリングリストのメンバーにはいりました！

.row-fluid
  .well.small
    %code no-reply@outsdoor.club
    より、ご指定のアドレスへメールをおくっています。
    %br
    %br  
    これからは同窓会のメンバーです。えんりょなく自由にメーリングリストをつかってください。

.row-fluid.go_back
  %a{ href: '/' }
    %span.glyphicon.glyphicon-menu-left
    元のページへ戻る
