.row-fluid
  %h1.page_title.error
    %img{ src: 'images/hikkoshi_goaisatsu.png' }
    %br
    招待メールをおくりました

.row-fluid
  .well.small
    %code subscribe_confirm[at]outsdoor.club
    より、ご指定のアドレスへメールをおくっています。
    %br
    %br
    %strong
      受け取ったメールをそのまま返信をして
    、仲間入りをかんりょうしてください

.row-fluid.go_back
  %a{ href: '/' }
    %span.glyphicon.glyphicon-menu-left
    元のページへ戻る
