.row-fluid
  %h1.page_title.error
    %img{ src: 'images/computer_error_bluescreen.png' }
    %br
    想定していないエラーがおきてしまいました

.row-fluid
  .well.small
    なにをしてもダメな場合は、お手数ですがおといあわせよりご連絡ください。

.row-fluid.go_back
  %a{ href: '/' }
    %span.glyphicon.glyphicon-menu-left
    もう一度ためしてみる
