.row-fluid
  %h1.page_title.error
    %img{ src: 'images/kojin_omoide_woman.png' }
    %br
    メーリングリストのメンバーからはずれました

.row-fluid
  .well.small
    %code no-reply[at]outsdoor.club
    より、ご指定のアドレスへメールをおくっています。
    %br
    %br
    また、いつかメンバーに戻ってくることをお待ちしています

.row-fluid.go_back
  %a{ href: '/' }
    %span.glyphicon.glyphicon-menu-left
    元のページへ戻る
