@import 'common/variables.scss';

body {
  background: $bg_color;
  color: $black;
}

// override bootstrap
h1 {
  font-size: calc(129% + 0.6vw);
}

h2 {
  font-size: calc(110% + 0.6vw);
}


.thumbnail > img {
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
}

.page_title {
  text-align: center;

  img {
    width: 80vw;
    max-width: 400px;
  }
}

.go_back {
  font-size: calc(110% + 0.6vw);
  margin: 30px;
  text-align: center;
}
